<!DOCTYPE html>
<html>
<head>
  <title>GemSort</title>
  <%= stylesheet_link_tag    "gem_sort/application", media: "all" %>
  <%= javascript_include_tag "gem_sort/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
